/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2015, 5:59:14 PM
    Author     : kiwi
*/




/* design */
.navbar-inverse {
    background-color: #576A90;
    border-color: #576A90;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
      background-color: #14A86B;
}
.side-nav a {
      font-size: 20px;
  font-weight: 700;  
  padding-left: 50px !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.page-header {
    color:#576A90;
}
label{
    color:#14A86B;
}
th {
    color: #14A86B;
}
a, a:visited, a:focus {
    color:#576A90; 
}
a:hover {
    color: #14A86B;
}
h4 {
    color: #14A86B;
  font-weight: 700;
  font-size: 20px;
}
.dropdown-menu {
    width: 166px;
  right: -1px !important;
}
.dropdown-menu a{
      font-size: 16px;
}


/* old admin css */
a {
    color: #428bca;
}
.margintop10 {
    margin-top: 10px;
}
.margintop20 {
    margin-top: 20px;
}
.margintop30 {
    margin-top: 30px;
}
.margintop-button {
    margin-top: 23px;
}
.marginbottom30 {
    margin-bottom: 30px;
}
.mini-bar .navbar-collapse  ul.navbar-nav {
    margin-top: 0px;
}
.index-page .mini-bar {
    top:0;
}
.black-color {
    background-color: #000;
    padding-top: 3px;
    height: 30px;
}
.admin-panel-container {
    padding: 10px 35px 0 35px;
width: 100%;
}
.user-info-admin {
    color: #fff;
    margin-left: 10px;
    width: 7%;
    float: right;
}
.user-info-admin a {
    margin-left: 10px;
    margin-top: -10px;
    font-weight: 700;
    color: #fff;
}
.user-info-admin a img {
    width:20px;
}
.admin-functions {
    width: 75%;
float: left;
}
.admin-functions a {
    font-weight: 700;
    color: #fff;
    margin-left: 20px;
}
.admin-functions a.active {
    border-bottom: 3px solid #428bca;
}
.black-top-line a img.home-icon {
    width: 20px;
    margin-left: 5px;
    margin-top: 2px;
    float: left;
}
.user-info-admin span {
    font-weight: 400;
    color: #68A4C4;
}
.admin-panel-container .table {
    font-size: 12px;
}
img.edit-delete {
    width: 20px;
}
.admin-panel-container .table th {
    background-color: #f8f8f8;
color: #68A4C4;
}
.add-row {
    margin-bottom: 0px;
}
.list-block li {
    list-style-type: none;
}
.list-block ul {
   float:left; 
}
.img-upl #sendimg {
margin-top: 3px;
}
.img-content img {
    height: 90px;  
    max-width: 247px;
}
.image-upload img {
    height: 120px;
    border: 2px dashed;
}
.image-upload-modal input {
    display: none;
}
.image-upload button {
}
.img-content {
    width: 100%;
}
.img-content a {
    display: block;
    float: left;
    padding-bottom: 5px;
}
#sliderEdit .img-content a {
    width: 100%;
}
.image-upload {
    float: left;
    margin-right: 20px;
}
.image-upload-modal {
    width: 100%;
text-align: right;
margin-bottom: 20px;
}
.img-content-show-all {
    height: 100%;
    margin-top: 60px;
}
.img-content-show-all img {
    max-width: 100px;
    max-height: 100px;
}

.galery-item {
    width: 100px;
    float: left;
    height: 115px;
    text-align: center;
    margin: 0px 22px 5px 5px;
}
.galery-item span {
    color: #428BCA;
  margin-top: -12px;
  display: block;
  font-size: 12px;
  font-weight: 700;
}
.modal-dialog {
    width: 710px;
}
.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}
#map_canvas {
width: 500px;
height: 300px;
position: relative;
overflow: hidden;
transform: translateZ(0px);
background-color: rgb(229, 227, 223);
}
.main-address {
width: 550px;
margin-left: 20px;
}
.map-block {
    margin-left: 20px;
}
.map-field {
    /* margin-top: 50px; */
}
.remove-icon {
width: 20px !important;
height: 20px !important;
margin-left: -10px; 
vertical-align: top; 
margin-top: -10px;
}
.admin-panel-country li {
    display: inline;
color: #68A4C4;
font-weight: 600;
padding-right: 10px;
text-decoration: underline;
}
.admin-panel-filters .field {
  float: right}
.admin-panel-filters select {
}
.admin-panel-th {
    text-align: center;
}
.admin-panel-filters {
      width: 70%;
  height: 55px;
  float: right;
}
.admin-table-cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.add-button-panel button {
    margin-top: 15px;
}
.add-button-panel button a {
    color:#fff;
      font-weight: 700;
}
.admin-table-cell-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.image-box-index {
    padding: 20px 0 20px 0;
    text-align: center;
    margin: 15px;
    background-color: #fcfcfc;
}
.image-box-index img {
    width: 90%;
    border: 5px solid #fff;
}
.main-image-box-index {
    margin-top: -20px;
}
.coutry-box {
    margin: 20px 15px 0px 15px;
}
.coutry-box li {
    display: inline;
    color: #68A4C4;
    font-weight: 600;
    padding-right: 10px;
}
.add-button-panel {
    width: 10%;
    float: left;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #fff;
}
.list-block .field {
    width: 100%;
}
.list-block ul {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 5;
    -webkit-column-gap: 10px;
    column-count: 5;
    column-gap: 10px;  
    margin-left: -40px;
}
.route-filters.list-block ul {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
}
.route-filters .checkbox {
    overflow: visible;
}
.list-block li {
    display: block;
    width: 20%;
    height: 40px;
}
.filters.list-block li {
      height: 35px;
}
.checkbox {
width: 210px;
max-width: 722px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-block li img {
    width: 20px;
    margin-right: 30px;
}
.red-star {
    color: #EC1515;
    margin-left: 5px;
}
.pagination {
    text-align: center;  
    display: table-cell;
}
.pagination a {
      width: 10px;
  height: 10px;
  background-color: #14A86B;
  color: #fff;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 10px 3px 10px;
  cursor: pointer;
}
.pagination a:hover {
    color:#fff;
}
.loader-block {
    display: none;
    position: absolute;
    width: 100%;
    height: 850px;
    top: 32%;
    padding-top: 10%;
    background-color: #fff;
    z-index: 100;
    text-align: center;
}
#page_number {
      float: right;
  width: 50px;
  margin-top: -50px;
  margin-right: 10px;
  height: 23px;
  font-size: 15px;
}
.textarea-msg {
    display:none;
}
.input-title-lang {
    display: none;
}
.modal-dialog {
    z-index: 1500;
}
.disabled-input {
   background-color: #FFF !important;
border: 1px solid #FFF;
box-shadow: none;
cursor: default !important;
   pointer-events: none;
}
.arrow-left-img {
    float: left;
margin-top: 10px;
cursor: pointer;
}
.arrow-left-img img {
    width: 30px;
}
.image-upload-folder{
    display:none;
}
#foldernametext {
   width: 200px;
float: left;
margin-left: 105px;
}
.image-upload-folder input {
    /* float: left; */
}
.image-upload-folder button {
    margin-left: 10px;
}
.img-breadcrumps {
    font-weight: 700;
margin-bottom: 10px;
display: block;
}
.img-content-show-all .remove-icon {
}
cke_contents{
    height: 590px !important;
}
.img-content-show-all .remove-icon {
    position: absolute;
}
.info-folder {
      display: block;
  float: right;
  margin-top: -2px;
  color: #D9534F;
}
.routes-list .admin-table-cell-title {
    width: 955px;
}
.routes-list .admin-panel-filters {
    width: 25%;
}
.routes-list .field {
    width: 33%;
}
.route-filter li {
    float:none;
}
.route-filter .checkbox {
    overflow:visible;
    text-overflow: none;
}
.cke_contents {
    height: 590px !important;
}
#myIframe {
    width: 100%;
    height: 100%;
    border: 0;
}
#myIframeArchive {
    width: 100%;
    height: 100%;
    border: 0;
}
#avatarFrame {
    width: 100%;
    height: 100%;
    border: 0;
}
#avatarFrameArchive {
    width: 100%;
    height: 100%;
    border: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
}
.img-upl {
    padding: 0px;
  height: 100%;
  position: fixed;
  width: 100%;
  padding-right: 10px;  
  padding-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.img-upl-archive {
    padding: 0px;
  height: 100%;
  position: fixed;
  width: 100%;
  padding-right: 10px;  
  padding-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.double-point-filter input {
    display: none;
}
.double-point-filter {
    font-weight: 900 !important;
    color: #576A90;
}
.upload-success {
    margin-left: -5px;
    color: #59C10D;
    font-weight: 700;
}
.upload-success img {
    height: 40px;
}
.is-exist-file {
    margin-left: 15px;
}
.is-exist-file a {
    margin-left: 10px;
}
.panorama-file {
    margin-top:20px;
    margin-left: -15px;
}
#panorama-file-block {
    display: block;
    width: 185px;
}
#panorama-file-block button {
      margin-left: -16px;
}
.slider-block {
    text-align: center;
    margin-bottom: 25px;
}
.slider-block input {
    margin-top: 10px;
    /* display: inline; */
}
.slider-block button.active {
    z-index: 0 !important;
}

.slide-upload-button {
    width: 100%; 
    margin-bottom: 20px;
}
.load-panorama {
    display:none;
}
.load-route {
    display:none;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.remove-panorama {
    color: red;
    cursor: pointer;
}
.panorama-name {
      font-weight: 300;
  color: #676767;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.remove-route {
    color: red;
    cursor: pointer;
}
.route-name {
      font-weight: 300;
  color: #676767;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.slider-page .col-lg-12 {
    padding-left: 0px;
}
.filters-table img {
      width: 20px;
}
.checkbox input[type=checkbox] {
    float: none;
  margin-right: 10px;
}


/* sb admin css */
body {
    margin-top: 100px;
    background-color: #fff;
    font-family: Circe;
      font-size: 16px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: rgb(20, 168, 107);
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 66px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: rgb(86,105,143);
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    
}

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: rgb(84,182,157) !important;
    
        color: #fff !important;
}
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
.navbar-brand img {
    float: left;
    margin-top: -10px;
    margin-left: 5px;
    height: 55px;
}
.user-avatar {
    width: 35px;
    height: 35px;
    margin-right: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.navbar {
    min-height: 65px;
}
.content-list {
    list-style-type: none;
}
.list-group-item:first-child {
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
}
.count-subs {
    margin-left: 10px;
    color: #C2C2C2;
    font-size: 12px;
    font-weight: 100;  
    font-style: normal;
}
.input-title-lang {
  display: none;
}
.textarea-msg {
  display: none;
}
.margintop10 {
    margin-top: 10px;
}
.margintop20 {
    margin-top: 20px;
}
.margintop30 {
    margin-top: 30px;
}
.margintop-button {
    margin-top: 23px;
}
.marginbottom30 {
    margin-bottom: 30px;
}
.red-star {
    color: #EC1515;
    margin-left: 5px;
}
.article-buttons {
      width: 20px;
}
#publishData a {
    color: #fff;
}
.article-table {
    font-size: 14px;
}
.article-table td {
    color: #000;
}
.article-table .counter {
      color: #9B9B9B;
}
.delete-row {
    font-size: 24px;
    color: #56698F;
}
.delete-row strong {
    color: #000;
}

/* category list */
.main-item {
   padding: 0;
}
.main-item-text {
      text-align: center;
  background-color: #5AC297;
  color: #fff !important;
  font-size: 25px;
  font-weight: 700;
  padding: 5px;
}
.parent-item-text {
    color: #576A90 !important;  padding-left: 30px;
}
.has-no-childrens {
      padding-left: 30px;
}
.has-no-childrens a{
    color: #AED62B;
}
.fa-caret-down:before {
    content: '' !important;
  position: absolute;
  top: 35%;
  right: 5%;
  border-top: 12px solid #576A90;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.list-group-item {
    border: none !important;
    border-bottom: 2px solid #ddd !important;
}
a.list-group-item:focus {
    background-color: rgba(87, 106, 144, 0) !important;
}
a.list-group-item:hover {
    background-color: rgba(90, 194, 151, 0.25)!important;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.parent-item {
    color: #56698F !important;
    font-size: 15px;
    padding: 0;
}
.collapse.in .has-no-childrens {
      padding-left: 45px;
}
a.main-item-text:focus, a.main-item-text:hover {
    background-color: #5AC297 !important;
}
#logout {
    border-top: 2px solid #14A86B;
    position: absolute;
    bottom: 3%;
}
#news-li {
      margin-top: 30px;
}

#news-li a{
    color: #fff;
}
#news-li .count-subs {
    color: #fff;
}
.sub-archive-item {
    font-size: 14px;
}
.modal-btn-warning {
    margin-right: 5px;
}
.article-filters {
    float: right;
    margin-right: 5px;
    padding-top: 11px;
    font-size: 18px;
    width: 55%;
    cursor: pointer;
    text-align: right;
}
.article-filters-block {
    width: 100%;
    margin-bottom: 20px;  
    display: none;
}
div.ui-datepicker{
 font-size:13px;
}
.filter-apply-button .form-group {
    text-align: center;
}
.filter-apply-button button {
    margin-top: 25px;
    color: #fff;
}
.filter-apply-button button a {
    color: #fff;
}
.file-name-manager {
      position: absolute;
  display: block !important;
  margin-top: -20px !important;
  overflow-y: hidden;
  width: 110px;
  color: #FFFFFF !important;
  background-color: #56698F;
}
.new-articles {
    color: #E60F0F;
    font-size: 12px;
    font-weight: 700;
    margin-left: 20px;
}