html{
    min-height: 100%;
    overflow-x: hidden;
}
body{
    min-height: 100%;
}
.s-new  .s-logoIndex img{
    width: 100%;
}

.indexNavBar{
    background-color: rgb(86,105,143);
    position: fixed;
    width: 100%;
    z-index: 5;
}
.indexNavBarFooter{
    background-color: rgb(86,105,143);
    width: 100%;
}
.mainMenuIntend{
    width: 100%;
    height:110px;
    background-color: rgb(86,105,143);
}
.mainMenuIntendMap{
    width: 100%;
    height:95px;
    background-color: rgb(86,105,143);
}

#s-textbox{
    width: 0px;
    height: 30px;
    margin-top: 2px;
    padding-left: 5px;
    color: rgb(174,214,43);
    font-weight: 200;
    margin-right: 0px;
    overflow: hidden;
    border:none;
    visibility: hidden;
    float: right;
}
#textBoxWidth{
    height: 30px;
    margin-top: 2px;
    border:none;
    padding-left: 5px;
    color: rgb(174,214,43);
    font-weight: 200;
    margin-right: 30px;
    width: 304px;
    transition: 1s;
    float: right;
}
.searchMenu{
    overflow: hidden;
    width: 334px;
}

#searchButton{
    height: 24px;
    background-color: rgb(86,105,143);
    text-decoration: none;
    border: none;
    position: relative;
    top: 3px;
    left: -5px;
    height: 28px;
    float: right;
}
#searchButtonActive{
    background-color: rgb(84,182,157);
    text-decoration: none;
    border: none;
    position: absolute;
    top: 10px;
    height: 30px;
    margin-left: 300px;
}
.intendSocial{
    margin-right: 10px;
}

.indexNavbar ul{
    margin: 0;
    padding: 0;
    z-index: 2;
}
#filtersContainer ul{
    margin: 0;
    padding: 0;
    z-index: 2;
}

.indexNavbar li{
    display: inline;
    z-index: 2;
}
.indexMapMenu li{
    display: inline;
    z-index: 2;
}
.indexMapMenu ul{  
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

a{
    color: white;
    z-index: 2;
    transition:color 0.5s;
}
.footerRights a:visited:hover{
    color:rgb(174,214,43);
}
a:visited:hover{
    color:rgb(174,214,43);
    transition:color 0.5s;
}
a:hover{
    color:rgb(174,214,43);
    transition:color 0.5s;
}
.indexMap{
	width: 980px;
        margin: 50px auto;
        margin-top: 55px;
        height: 410px;
        margin-bottom: 100px;
}
.indexMapMenu{
    height: 45px;
    background-color: rgb(86,105,143);
    color: #7891C1;
}
.indexMapContainer{
    padding-top: 5px;
}
.mapButton{
    background-color: rgba(86,105,143,0);
    border: none;
    float: left;
    height: 39px;
    margin: 3px 18px;
    padding-top: 11px;
    font-size: 11pt;
    font-weight: 600; 
    letter-spacing: 1px;
    color: #7891C1;
    z-index: 2;
}
.mapButton a{
    z-index: 2;
}
.mapMenuLeftMArgin{
    margin-left: 0px;
}
.mapButtonMapPage{
    height: 45px;
    background-color: rgb(86,105,143);
    border: none;
    float: left;
    padding: 20px 12px 12px 12px;
}
.mapButtonMapPage:hover{
    border: rgb(84,182,157) solid 3px;
    color: white;
    padding: 15px 12px 12px 7px;
    cursor: pointer;
}
.mapCountries{
        margin: 0px auto;
        margin-top: 25px;
    
}
#blob{
    border: rgb(84,182,157) solid 3px;
    color: white;
    padding: 9.5px;
    cursor: pointer;
    position: absolute;
    z-index: 0;
}
#blob a{
    color: white;
}

#nav li {
    float: left;
    z-index: 2;
    position: relative;
}

.buttonBorderMapClass{
    border: rgb(84,182,157) solid 3px;
    padding: 15px 12px 12px 7px;
    color: white;
}
.buttonBorderClass{
    color: white;
    z-index: 2;
    padding: 11px 12px 28px 15px;
    margin: 0;
    border: rgb(84,182,157) solid 3px;
}
.countriesMapWidth{
    width: 590px;
    margin: 0 auto;
}
.newsImageUnderline{
    z-index: 5;
}
.newsTextIndex{
	font: 14pt 'Open Sans';
        font-weight: 600;
	padding-bottom: 25px;
	color: rgb(84,182,157);
}
.newsImage{
    z-index: 1;
    overflow: hidden;
    height: 195px;
    width: 300px;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
}
.newsImage img {
    width: 300px;
    transition: 1s;
    overflow: hidden;
    z-index: 1;
}
.newsImage:hover img{
    transition: 1s;
    overflow: hidden;
}
.newsImage:hover .imageHover{
    transition: 0.5s;
    height: 300px;
}
.imageHoverCountry img{
    width: 8px;
    height: 11px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
.newsCountryText{
    float: right;
}
.newsName{
	padding-top: 10px;
	font: 18pt 'Open Sans';
        font-weight: 600;
	color: rgb(87,105,143);
}
.newsName a {
	font: 14pt 'Open Sans';
        font-weight: 600;
	color: rgb(87,105,143);
        transition: 0.5s;
}
.newsName a:hover{
    color: rgb(87,105,143);
    opacity: 0.7;
    transition: 0.5s;
}
.newsText{
	font: 12pt calibri, regular;
	margin-bottom: 25px;
	color: rgb(87,105,143);
        width: 100%;
        transition: 0.5s;
}
.newsText:hover{
	opacity: 0.7;
        transition: 0.5s;
}

.footerRights{
    color: white;
    font: 7pt 'Open Sans';
}

.footerRightImage{
	padding-left: 31%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.s-new{
	width: 980px;
	margin: 0 auto;
}
.s-new .s-cell{
	width: 33.3333333%;
	float: left;
}
.s-new .s-clear{
	clear: both;
}
.s-new  .s-cell .s-block{
	width: 300px;
	margin: 0 auto;
	font: 14pt 'Open Sans';
        font-weight: 600;
	color: rgb(84,182,157);
	margin-top: 25px;
        overflow: hidden;
}
.s-new  .s-cell .s-left{
	margin: 0;
	float: left;
	margin-top: 25px;
}
.s-new  .s-cell .s-right{
	margin: 0;
	float: right;
	margin-top: 25px;
}
.s-new  .s-logoIndex{
	float: left;
	margin: 15px 0px;
	width: 236px;
    transition: 1s;
}
.s-new  .s-logoIndex img{
    float: left;
    width: 215px;
    transition: 1s;
}
.carpathName{
	font: 16pt 'Open Sans';
        font-weight: 800;
        margin-top: 2px;
        transition: 1s;
}

.s-newsMenu{
	width: 46px;
	margin-left: 35px !important;
}
.s-mapMenu{
	width: 36px;
	margin-left: 35px !important;
}
.s-new  .s-rightNavBar{
	float: right;
	width: 700px;
	margin: 5px 0px 0px 0px;
}
.s-new  .s-socialLogo{
	width: 18px;
        cursor: pointer;
}
.s-new  .s-rightNavBar .s-top .s-one{
	float: right;
        margin-top:3px;
        height: 30px;
}
.s-new  .s-rightNavBar .s-top .s-two{
	float: right;
	margin: 0px 30px;
}
.s-new  .s-rightNavBar .s-top .s-three{
	float: right;
	font: 10pt 'Open Sans';
        font-weight: 600;
}
.s-new  .s-rightNavBar .s-bot{
	float: right;
	font: 14pt 'Open Sans';
        font-weight: 600;
        margin-top: 3px;
}
.s-new  .s-newsImageDiv1{
	float: left;
	width: 33.33333333333333333333%;
}
article a{
    color:rgb(86,105,143);
}
article img{
    float: left;
}
article{
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    text-overflow: ellipsis;
}
article .intendNews .post-image .post-heading{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.newsOverflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.newsHeight{
    //height: 445px;
}
.s-new .countriesFilter a{
    color:rgb(86,105,143);
    padding-left: 10px;
    transition: color 0.5s;
}
#newsMainPhoto{
    overflow: hidden;
    float: left;
}
#newsMainPhoto:hover img{
    transform: scale(1.5);
    transition: 0.5s;
}
#newsMainPhoto img{
    transition: 0.5s;
}
.s-new .countriesFilter a:hover{
    color: rgb(174,214,43);
    transition: color 0.5s;
}
.countriesFilter{
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.indent{
    height: 50px;
    width: 100%;
}
.s-new  .s-logoIndexSmall{
	float: left;
	margin: 6px 0px;
	width: 150px;
    transition: 1s;
}
.s-new  .s-logoIndexSmall img{
	width: 155px;
        float: left;
        transition: 1s;
}
.carpathNameSmall{
	font: 12pt 'Open Sans';
        font-weight: 600;
        margin-top: -5px;
        transition: 1s;
}
.s-new  .s-rightNavBarSmall{
    float: right;
    margin: 12px 0px 0px 0px;
    transition: 1s;
}
.topMenu{
    height: 110px;
}
.topMenuSmall{
    height: 70px;
    transition: 1s;
    
}
.s-new  .s-newsImageDiv2{
	float: left;
	width: 33.33333333333333333333%;
	font: 14pt 'Open Sans';
        font-weight: 600;
	color: white;
	padding: 30px 0px 0px 0px;
        text-align: center;
}
.s-new  .s-newsImageDiv3{
    text-align: right;
    float: right;
    width: 33.33333333333333333333%;
    margin-left: -27px;
    margin-top: -20px;
}
.partnershipIntend{
    
}
.partnershipWithout{
    color: white;
    font-weight: 600;
    font-size: 9.5pt;
    margin-top: -10px;
}
.filterClickIntend{
    margin-top: -21px;
    padding-bottom: 20px;
}
.leftHelp{
    text-align: left;
    color: white;
    font: 8.5pt 'Open Sans';
    font-weight: 200;
    width: 300px;
}
.leftHelp a{
    text-align: left;
}
.leftHelp img{
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.footerHeight{
    height: 148px;
}
.footerRights a:visited{
    color: white;
}
.s-new  .s-newsImageDiv3 .s-footerRightImage{
	padding-top: 30px;
	padding-bottom: 25px;
}
.s-menu{
	width: 100px !important;
}
.routesMenu{
	width: 160px !important;
        overflow: hidden;
}
.homeSub{
    width: 300px !important;
}

.s-new .s-newsImageDiv2 .footerRights{
	padding-left: 17px;
}
.s-new .s-newsImageDiv1 .footerRights{
    margin-left: 0;
}

.footerRights{
    margin-right: 15px;
    margin-top: 15px;
    float: left;
}
.s-new{
}
.s-new .s-rightNavBar .s-top .s-two{
	margin-top: 10px;
}
.s-new .s-rightNavBar .s-top .s-three{
	margin-top: 12px;
}
.paddingLang{
    padding-left: 12px;
}
.dropDownMenu {
	width: 100%;
	float: left;
	height: 40px;
}
.dropDownMenu a {
	font: 11pt 'Open Sans';
        font-weight: 600;
	line-height: 25px;
	padding: 10px 0px 10px 25px;
	float: left;
	text-decoration: none;
        letter-spacing: 1px;
}
.dropDownMenu a:hover {
	text-decoration: none;
	color: white;
}
li a:visited{
    text-decoration: none;
    color: white;
}
.detailsButton{
    background-color: #8291B0;
    border-radius: 0px;
    font: 11pt 'Open Sans';
    font-weight: 600;
    width: 100px;
}
.detailsButtonContainer{
    width: 310px;
    margin: 0 auto;
    text-align: right;
    margin-top: 25px;
    position: absolute;
    bottom: 25px;
    right: 20px;
}
.dropDownMenu a:visited {
	color: white;
}
.dropDownMenu li {
	float: left;
	list-style: none;
	position: relative;
}
.dropDownMenu li:hover .bottom-caret{
    transition: 0.5s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.dropDownMenu li ul{
	position: absolute;
	margin: 0;
	left: -10px;
	z-index: 999;
	margin-left: 10px;
	margin-top: 35px;
}
.dropDownMenu li ul a{
	padding: 10px 0px 10px 10px;
}
.dropDownMenu li ul li {
	width: 290px;
}
.dropDownMenu li ul li a {
	font: 10pt 'Open Sans';
        font-weight: 600;
	margin: 0 !important;
	width: 100%;
	background-color: rgb(122,144,180);
}
.dropDownMenu li ul li ul {
	width: 300px;
	left: 300px;
	top: -30px;
	z-index: 999;
  border-left:  3px solid rgb(84,182,157);
}
.dropDownMenu li ul li:hover ul {
    border-left-style: solid;
	display: block !important;
	margin: 30px 0 0 0px;
}

.dropDownMenu li ul li ul li {
	float: left;
}
.dropDownMenu li ul li ul li a {
	margin: 0 !important;
	width: 100%;
}
.dropDownMenu li ul li a:hover {
	background-color: rgb(177,216,66);
        transition: 0.5s;
}
.scrollSmallerText{
    font-size: 9pt !important;
}
.right-caret {
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid white;
	float: right;
	margin-right: 10px;
        margin-top: 5px;
}
.bottom-caret {
    transition: 0.5s;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid white;
    float: right;
    margin-top: 9px;
}

.imageHover{
    font: 12pt 'Open Sans';
    font-weight: 400;
    height: 195px;
    position: absolute;
    width: 300px;
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
    background-color: rgb(177,216,66);
    opacity: 0.9;
}
.imageHoverDate{
    text-align: right;
    float: right;
    width: 100%;
    padding-right: 30px;
    padding-top: 30px;
    color: white;
}
.imageHoverCountry{
    text-align: right;
    float: right;
    padding-right: 30px;
    width: 100%;
    color: white;
}

a:hover{
    color: rgb(177,216,66);
    text-decoration: none;
    transition: color 0.5s;
}

.s-newsText{
    padding-left: 19px;
    transition: color 0.5s;
}
.s-newsText a{
    color: rgb(84,182,157);
    transition: color 0.5s;
}
.s-newsText a:hover{
    color: rgb(177,216,66);
    transition: color 0.5s;
}
.logInInput{
    width: 100%;
    font-weight: 200;
    padding-left: 5px;
}

.s-footer{
	margin-top: 20px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
}
.developpedText{
    margin: 0 auto;
    font: 7pt 'Open Sans';
    font-weight: 200;
    float: left;
    margin-top: 15px;
}

.menuLine{
	width: 100%;
	height: 4px;
	background-color: rgb(84,182,157);
}
.menuLineSmall{
	width: 100%;
	height: 4px;
	background-color: rgb(84,182,157);
        margin-left: -14px;
}
.menuLineSmallMap{
	width: 100%;
	height: 4px;
	background-color: rgb(84,182,157);
        margin-left: -14.5px;
}
.menuLineHome{
	width: 100%;
	height: 4px;
	background-color: rgb(84,182,157);
}
.menuLineExtraSmall{
    width: 84%;
}
.sliderArrows{
    width: 980px;
    margin: 0 auto;
    height: 100%;
}
.indexMap img{
        position: absolute;
	margin: 0 auto;
	margin: 0px 0px;
}

.enter-icon{
    float: left;
    margin-right: 4px;
    margin-top: 2px;
    width: 20px;
}
.enter-icon img{
    width: 100%;
    cursor: pointer;
    width: 13px;
}
#enter-icon-img{
    cursor: pointer;
    padding-left: 17px;
}
.enterBlock{
    margin-top: 24px;
    font-weigth: 200;
    text-align: center;
    font-size: 11pt;
}
.enterBlock a{
    font-weight: 200;
}
.copyright{
    float: left;
}

.mapTitle{
    margin-top: 50px;
    padding-left: 0;
}

.enter-block{
    text-align: left;
    width: 0px;
    overflow: hidden;
    position: absolute;
    margin-top: -8px;
    height: 35px;
    transition: 2s;
}
.enter-block input{
    transition: 2s;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 5px;
    font-weight: 100;
    width: 0;
    color: black;
}
.enter-block input:focus{
    background-color: white !important;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
.enterBlockWidth{
    width: 582px;
}
.enter-blockInput{
    width: 200px !important;
    transition: 2s;
}
.logInButton{
    margin-bottom: 5.5px;
    color: rgb(86,105,143);
}
#cancelButton{
    margin-bottom: 5.5px;
    color: rgb(86,105,143);
    transition: 2s;
}
.middleButton{
    text-align: center; 
}
.logInButton{
    width: 0;
}
.btn{
    transition: 2s;
}
.cancelButton{
    width: 0;
}
.widthClass{
    width: 1020px;
    display: table;
}
.row{
    margin: 0;
}
.wrap{
    min-height: 100%;
    margin: 0 auto 0;
}
.buttonWidth{
    width: 85px;
    transition: 2s;
}
#cssmenu ul li {
  display: block;
  position: relative;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 1s ease-out;
  -moz-transition: max-height 1s ease-out;
  -ms-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}
#cssmenu ul li ul li:hover > ul {
  left: 100%;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:after {
  display: block;
  position: absolute;
  height: 0;
  top: 0;
  z-index: 0;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}
#cssmenu > ul > li > a {
  z-index: 2;
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: 5px;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
.contentIntend{
    width: 100%;
    height: 25px;
}
.contentIntendMap{
    width: 100%;
    height: 25px;
    background-color: rgb(86,105,143);
}
.contentIntendBottom{
    width: 100%;
    height: 25px;
}
p{
    color: #333;
    font-weight: 100;
    font-size: 14px;
}
.pull-right{
    margin-top: 0px;
}
#newsMainPhoto{
    width: 180px;
    margin-top: 20px;
}
#newsMainPhoto img{
    width: 100%;
}
.post-heading{
    font-size: 24px;
    margin-top: -7px;
}
.intendNews{
    margin-left: 190px;
    margin-top: 20px;
}
.bottom-article{
    margin-top: -20px;
}
.footerLeft{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 25px;
}
.footerLeftTop{
    float: left;
    width: 33.33333333%;
    text-align: left;
    margin-top: 35px;
}
.footerLeftTop img{
    height: 42px;
}
.footerRightTop{
    float: left;
    width: 33.33333333%;
    text-align: right;
    margin-top: 35px;
}
.footerRightTop img{
    height: 42px;
    margin-right: 5px;
    margin-top: 2px;
}
.footerRightTop a{
    font: 8.5pt 'Open Sans';
    font-weight: 200;
    text-align: left;
}
.footerMiddleTop{
    float: left;
    width: 33.33333333%;
    text-align: center;
    margin-top: 25px;
}
.footerMiddleTop img{
    height: 62px;
}
.leftEuText{
    margin-left: 5px;
}
.footerLogo img{
    width: 100%;
    float: left;
}

.logos{
    text-align: center;
    float: left;
    margin-top: 0;
}
.logos img{
    width: 10%;
}
.projectFunded{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    color: white;
    margin-top: 20px;
    font: 7pt 'Open Sans';
    font-weight: 200;
    margin-top: 10px;
}
.s-newMap{
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
#sliderLabel {
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
    display: block;
    height: 16px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    width: 25px;
    background: white;
}
#sliderLabel input {
    display: none;
}
#sliderLabel input:checked + #slider {
    left: 11px;
}
#slider {
    background: rgb(84,182,157);
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: block;
    height: 12px;
    left: 2px;
    position: absolute;
    top: 2px;
    -moz-transition: left .25s ease-out;
    -webkit-transition: left .25s ease-out;
    transition: left .25s ease-out;
    width: 12px;
    z-index: 1;
}
.mapControls{
    right: 50px !important;
    top: 95px !important;
    width: 45px;
    height: 45px;
    background: rgb(86,105,143);
    transition: 0.5s;
}
.mapControlsScroll{
    right: 50px !important;
    width: 45px;
    height: 45px;
    background: rgb(86,105,143);
    transition: 0.5s;
}
.mapControlsBig{
    width: 1025px !important;
}
#mapControls img{
    float: right;
    width: 21px;
    height: 29px;
    cursor: pointer;
    margin-right: 12px;
    margin-top: 8px;
}
.indexMapContainer img{
    position: absolute;
}
#mapControls .indexMapMenu{
    background: rgba(0,0,0,0);
}
.sliderDiv {
    background: rgb(86,105,143);
    right: 50px !important;
    top: 45px !important;
    padding: 14.5px 10px;
    transition: 0.5s;
}
.sliderDivScroll {
    background: rgb(86,105,143);
    right: 50px !important;
    padding: 14.5px 10px;
    transition: 0.5s;
}
.pushRightConrainer{
    right: 50px !important;
    top: 145px !important;
    width: 45px;
    height: 45px;
    background: rgb(86,105,143);
    width: 45px;
    transition: 0.5s;
    overflow: hidden;
}
.pushRightConrainerScroll{
    right: 50px !important;
    width: 45px;
    height: 45px;
    background: rgb(86,105,143);
    width: 45px;
    transition: 0.5s;
    overflow: hidden;
}
.pushRightConrainerBig{
    width: 1025px !important;
    height: 410px !important;
    transition: 0.5s;
}
.pushRightConrainerFilters{
    width: 365px !important;
    height: 510px !important;
    transition: 0.5s;
    background-color: rgb(84,182,157) !important;
}
#filtersContainer{
    height: 510px;
    width: 320px;
    background: rgb(86,105,143);
    padding: 20px;
    overflow-y: auto;
    position: absolute;
}
#filtersContainer ul li{
    display: block;
    padding: 1px 10px;
    transition: color 0.5s;
}
#filtersContainer ul ul {
    display: none;
    background-color: #8291B0;
    width: 265px;
    margin-left: -10px;
    margin-bottom: 5px;
}
#filtersContainer ul li:hover {
    background-color: rgb(174,214,43);
    transition: 0.5s;
}
.activeFilter{
    background-color: rgb(84,182,157) !important;
}footerLeftMain
#filtersContainer ul li ul{
    width: 350px;
    margin-left: -10px;
    margin-top: -5px;
    background: #8291B0;
}

		.markerName{
                    font: 14pt 'Open Sans';
                    font-weight: 600;
                    color: white;
                    line-height:120%;
                    width: 310px;
                    margin: 0 auto;
                    margin-top: 15px;
		}
                #descriptionHideButton{
                    width: 100%;
                    height: 30px;
                    margin-top: -10px;
                }
                #descriptionHideButton img{
                    float: right;
                    width: 27px;
                    margin-right: -10px;
                    cursor: pointer;
                }
		.markerDescr{
                    font: 11pt 'Open Sans';
                    font-weight: 200;
                    color: white;
                    margin: 0 auto;
                    width: 310px;
                    margin-top: 15px;
		}
		.markerDescr p{
                    font: 11pt 'Open Sans';
                    font-weight: 200;
                    color: white;
                    margin: 0 auto;
                    width: 310px;
                    margin-top: 15px;
		}
                .descrImageUnderline{
                    width: 310px;
                    height: 5px;
                    background-color: rgb(84,182,157);
                    margin: 0 auto;
                }
		.coords{
                    padding: 0px 10px 12px 5px;
                    text-align: justify;
                    font-size:15px;
                    color: white;
		}
		.markerImage{
                    margin: 0 auto;
                    width: 310px;
                    margin-top: 15px;
                    height: 150px;
                    overflow: hidden;
		}
		#markerDescription {
                    background-color: rgb(86,105,143);
                    padding: 10px;
                    color: white;
                    font-size:15px;
                    opacity: 0.9;
                    overflow: visible;
                    width:350px;
                    height: 510px;
                    left: 50 !important;
                    top: 150;
		}
                .newsImageIndex:hover img{
                    transform: scale(1.5); 
                }
#filtersContainer ul li ul li{
    padding-left: 30px;
    margin-top: 2px;
    margin-bottom: -5px;
}
.subFilterMap{
    font-weight: 200;
}
#filtersContainer ul li:hover ul{
    background-color: #8291B0;
}
.filtersName{
    color: white;
    font: 12pt 'Open Sans';
    font-weight: 600;
}
.filterMap{
    padding: 5px;
    margin-top: 5px;
    background-color: #8291B0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.filterMap a{
    font: 11pt 'Open Sans';
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.filterMap{
    font: 14px 'Open Sans';
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.filterMap a:hover{
    color: white;
}
#pushRightConrainer img{
    cursor: pointer;
}
#pushRightConrainer #mainImageRightContaineMap{
    width: 45px;
    float: right;
}
#pushRightConrainer .indexMapContainer{
    padding-top: 0;
}
.filtersMainContainer{
    margin-top: 15px;
    width: 265px;
}
input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
    padding-left:17px;
    height:12px; 
    display:inline-block;
    line-height:12px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
    margin: 5px 0;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -12px;
}
.filterMap .bottom-caret{
    margin-top: 5.5px;
    width: 5px;
    height: 10px;
    padding: 0px;
    transition: 0.5s;
}
.rotatedCaret{
    transition: 0.5s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.filterMap .bottom-caret:hover{
    transition: 0.5s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
label{
    margin-bottom: 0;
}
.partnershipWidth{
    width: 66%;
    float: right;
}
.filterClickIntend:hover .bottom-caret{
    transition: 0.5s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.footerLeftMain{
    width: 60%;
}
.footerNew{
	width: 980px;
	margin: 0 auto;
	heigth: 150px;
	background-color: rgb(86,105,143);
}
.footerLeftMain{
	width: 610px;
	float: left;
	height: 69px;
	border: 2px solid rgb(122,144,180);
}
.footerPartnership{
	background: rgb(122,144,180);
	height: 100%;
	width: 33.333333%;
	float: left;
}
.footerPartnership{
	height: 100%;
	width: 33.333333%;
	float: left;
	font: 9.5pt calibri;
	font-weight: 200;
	color: white;
	text-align: center;
        padding-top: 27px;
}
.footerCoFin{
	height: 100%;
	width: 33.333333%;
	float: left;
	text-align: center;
	font: 7pt calibri;
	font-weight: 200;
        padding-top: 27px;
}
.rightTopText{
    float: right;
    text-align: left;
    width: 140px;
    margin-top: 5px;
    margin-left: -10px;
}
.rightTopText a{
    margin-top: 8.5px;
    font: 7pt calibri;
}
.footerEU{
    margin-top: 5px;
    width: 33px;
    height: 23px;
}
.huskrouaFooter{
    padding-top: 7px;
    height: 100%;
    width: 33.333333%;
    float: left;
    font: 7pt calibri;
    font-weight: 600;
}
.countriesStar{
    margin-left: 27px;
    margin-top: -7px;
}
.countriesStarSmall{
    font: 7pt calibri;
    margin-left: 27px;
}
.huskrouaFooter img{
    height: 31px;
    width: 33px;
}
.footerRightMain{
	margin-left: 15px;
	width: 355px;
	float: left;
	height: 69px;
	border: 2px solid rgb(122,144,180);
        padding-top: 32px;
        text-align: center;
        padding-left: 24px;
}
.fundedLink{
    margin: 0 auto;
    text-align: left;
    color: white;
    font: 7pt calibri;
    font-weight: 200;
}
.fundedLink a{
    text-align: left;
}
.fundedLink img{
    width: 33px;
    height: 23px;
    margin-right: 10px;
    float: left;
}
.fundedLink{
    float: left;
    width: 310px;
}
.fundedText{
    margin-top: 0px;
}
.footerIntentInside{
    width: 100%;
    height: 15px;
}



@media (min-width: 760px) and (max-width: 950px){
	.s-newsText{
		margin: 0 auto;
		text-align: center;
		width: 200px;
		margin-bottom: 25px;
	}
	.s-new .s-cell{
		width: 50%;
		margin-top: 0px;
	}
	.s-new  .s-cell .s-left{
		margin: 0 auto;
		float: none;
	}
	.s-new  .s-cell .s-right{
		margin: 0 auto;
		float: none;
	}
	.s-new .s-cell .s-block{
		margin-top: 0px;
	}
        .bx-wrapper {
            width: 700px;
        }
        .widthClass{
            width: 100%;
        }
}
@media (max-width: 760px){
	.s-newsText{
		margin: 0 auto;
		text-align: center;
		width: 200px;
		margin-bottom: 25px;
	}
	.s-new .s-cell{
		width: 100%;
	}
	.s-new  .s-cell .s-left{
		margin: 0 auto;
		float: none;
	}
	.s-new  .s-cell .s-right{
		margin: 0 auto;
		float: none;
	}
}
@media (max-width: 885px){
	.s-new  .s-newsImageDiv1, .s-new  .s-newsImageDiv2, .s-new  .s-newsImageDiv3{
		width: 100%;
		float: none;
		margin: 0 auto;
		width: 320px;
		text-align: center;
	}
	.s-new  .s-newsImageDiv1 img, .s-new  .s-newsImageDiv2 img, .s-new  .s-newsImageDiv3 img{
		margin: 0 auto;
		float: none;
	}
}
@media (max-width: 1248px){
	.dropDownMenu li ul li ul {
		width: 200px;
	}
	.dropDownMenu li ul li {
		width: 200px;
	}
	.dropDownMenu li ul li ul{
		left: 200px;
	}
        #searchButton {
            display: none;
        }
        #s-textbox{
            visibility: visible;
            width: 304px;
            margin-right: 30px;
        }
        #searchButtonActive{
            visibility: visible;
            display: block !important;
        }
}

@media (max-width: 1248px) and (min-width: 556px){
	.s-new .s-logoIndex{
		margin: 15px auto;
		width: 300px;
		float: none;
	}
	.s-new .s-rightNavBar{
		width: 700px;
		margin: 0 auto;
		float: none;
	}
        .topMenu{
            height: 220px;
        }
        .topMenuSmall {
            height: 100px;
        }
        .contentIntend {
            height: 135px;
        }
        .dropDownMenu{
            width: 100%;
        }
        .mapMenuSmall{
            height: 70px;
        }
        #searchButtonActive{
            top: 134px;
        }
        .widthClass{
            width: 100%;
        }
}

@media (max-width: 1020px){
    .s-new .s-rightNavBarSmall {
        width: 600px;
        float: none;
        margin: 0 auto;
    }
    .topMenuSmall {
        height: 100px;
    }
    .s-new .s-logoIndexSmall {
        float: none;
        margin: 0 auto;
    }
    .s-newsText {
        padding-left: 0;
    }
    .s-new {
        width: auto;
    }
    .s-new .s-cell .s-block {
        width: 100%;
    }
}

@media (max-width: 701px){
	.s-new .s-logoIndex{
		margin: 15px auto;
		width: 250px;
		float: none;
	}
	.s-new .s-rightNavBar{
		width: 350px;
		margin: 0 auto;
		float: none;
	}
	.s-new .s-rightNavBar .s-top .s-two{
		margin: 0 auto;
		width: 55px;
		float: none;
	}
	.s-new .s-rightNavBar .s-top .s-three{
		margin: 0 auto;
		width: 150px;
		float: none;
	}
        .projectFunded {
            width: auto;
        }
        .topMenu {
            height: 305px;
        }
        .contentIntend {
            height: 195px;
        }
        .topMenuSmall {
            height: 100px;
        }
        #searchButtonActive {
            top: 174px;
        }
        .footerRightTop{
            width: 100%;
            text-align: center;
        }
}
@media (max-width: 859px){
        .mapMenuSmall{
            height: 140px;
        }
        .contentIntendMap{
            height: 95px;
            width: 100%;
        }
        .mapLogoSmall{
            float: none !important;
            margin: 0 auto !important;
        }
        .menuMapCenterSmall{
            float: none !important;
            width: 100% !important;
            text-align: center;
        }
        .enterBlockWidth {
            width: 200px;
            text-align: center;
            height: 75px;
        }
}
@media (max-width: 995px){
    .footerLeftTop {
        float: none;
        margin: 0 auto;
        margin-top: 25px;
        width: 290px;
    }
    .logos img{
        width: 60px;
    }
    .footerHeight {
        height: 310px;
    }
    .footerLeft{
        width: 100%;
    }
    .logos{
        float: none;
        text-align: right;
        margin: 0 auto;
        width: 120px;
    }
    .footerSmallIntend{
        width: 100%;
        height: 25px;
    }
}
@media (max-width: 615px){
    .s-new .s-rightNavBarSmall{
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
    .topMenuSmall{
        height: 145px;
    }
    .footerHeight{
        height: 385px;
    }
    .footerLeft{
        width: 100%;
    }
    .logos{
        width: 120px;
    }
}
@media (max-width: 695px){
    .s-new .s-rightNavBar .s-bot{
        width: 400px;
        text-align: center;
    }
    .enterBlockWidth {
        width: 200px;
        text-align: center;
        height: 75px;
    }
}
/* ==========ERIK========= */
.breadcrumbs a
    {
        color: rgb(86,105,143) !important;
        text-decoration: none;
    }

.news_text_box
    {
        height: 6.4em;
        max-height: 6.4em;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
.breadcrumbs a:hover
    {
        color: rgb(174,214,43) !important;
        transition: color 0.5s;
    }

.breadcrumbs_ul li
    {
        /*padding-left: 1em;*/
        display: inline;
    }
    
.breadcrumbs 
    {
        //height: 10px;
        position: relative;
        float: left;
        left: -1.7em;
        font: 9pt 'Open Sans';
        font-weight: 600;
        text-transform: uppercase;
        width: 38em;
        height: 1.3em;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.right_arrow 
    {
        transition: 0.5s;
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid rgb(86,105,143);
        margin-top: -0.1em;
        /*margin-left: 1.5em;*/
    }
.countriesFilter
    {
        width: 100%;
        text-align: center;
        font-size: 15px;
        font: 9pt 'Open Sans';
        font-weight: 600;
        position: relative;
        left: 1.2em;
        text-transform: uppercase;
    }

.countriesFilter a
    {
        margin-left: 10px;
        padding: 4px 4px 4px 4px !important;
        color: rgb(86,105,143);
        text-decoration: none;
    }
    
.selected_country
    {
        border: 0.2em solid rgb(84, 182, 157);
        color: rgb(84, 182, 157) !important;
    }
.news_title
    {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 10px;
        font: 18pt 'Open Sans';
        font-weight: 600;
        color: rgb(87,105,143);
        max-height: 2.5em;
        min-height: 30px;
    }
.news_title a
    {
        font: 13pt 'Open Sans';
        font-weight: 600;
        color: rgb(87,105,143);
        transition: 0.5s;
    }
.news_text
    {
        font: 12pt calibri, regular;
        margin-bottom: 25px;
        color: rgb(87,105,143);
        width: 100%;
    }
.article_sub_title
    {
        font-size: 0.8em;
        /* font-size: 20px; */
        font: 12pt 'Open Sans';
        font-weight: 600;
        color: rgb(84, 182, 157);
        text-transform: uppercase;
        display:inline;
    }
.article_sub_title img
    {
        width: 1.3em;
        width: 1.3em;
        float: none;
        bottom: 0.1em;
        position: relative;
    }
.article_sub_title_country
    {
        display: inline;
        left: 0.7em;
        position: relative;
    }
.article_sub_title_date
    {
        display: inline;
    }
.article_title
    {
        font: 16pt 'Open Sans';
        font-weight: 600;
        position: relative;
        /* left: 1.2em; */
        text-transform: uppercase;
    }
.article_text
    {
        position: relative;
        font-family: 'Open Sans';
        top: 1em;
    }
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
    {
        background: url(/Carpath/img/b03.png) no-repeat;
        overflow:hidden;
        cursor: pointer;
    }
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
    {
        position: absolute;
        cursor: pointer;
        display: block;
        background: url(/Carpath/img/a03.png) no-repeat;
        overflow:hidden;
    }
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03ldn { background-position: -243px -33px; }
.jssora03rdn { background-position: -303px -33px; }
#main_image
    {
        width: 100%;
        position: relative;
        top: 1em;
    }
.article_side_news  
    {
        overflow: hidden;
    }
/*=========END_ERIK========*/